# Project exclude paths
/leyou-auth/leyou-auth-common/target/
/leyou-auth/leyou-auth-serivce/target/
/leyou-common/target/
/leyou-gateway/target/
/leyou-goods-web/target/
/leyou-item/leyou-item-interface/target/
/leyou-item/leyou-tiem-service/target/
/leyou-registry/target/
/leyou-search/target/
/leyou-sms/target/
/leyou-upload/target/
/leyou-user/leyou-user-interface/target/
/leyou-user/leyou-user-service/target/